@model DocumentModel
@{
    ViewData["Title"] = "Update Document";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2>Update Document</h2>

<div class="card p-4 bg-light">
    <form asp-action="Update" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Current Title:</label>
            <p class="form-control">@Model.Title</p>
        </div>
        <!--
        <div class="mb-3">
            <label class="form-label">Current File Name:</label>
            <p class="form-control">@Model.FileName</p>
        </div>
        -->
        <div class="mb-3">
            <label for="newFile" class="form-label">Upload New File:</label>
            <input type="file" name="newFile" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary">Update File</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
